<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template.html :: head}">
    <title></title>
</head>
<body>
<div class="container">
    <nav th:replace="~{template.html :: navbar ('billings')}"></nav>

	<div class="row alert alert-danger" role="alert" th:if="${error}">
		<th:block th:text="#{error.create.billing}">Beim Erstellen der Abrechnung ist ein Fehler aufgetreten. Die Fehlermeldung lautet:</th:block>
		<th:block th:text="${error}">Test-Fehlermeldung</th:block>
	</div>

	<div class="row alert alert-warning" role="alert" th:if="${warning}" th:text="${warning}">
		Kein Vermieter gefunden
	</div>

    <div class="card mb-2" th:each="billing: ${billings}">
        <div class="card-body">
            <h4 class="card-title">
                <span th:text="${billing.tenant}">Uta Krüger</span>
                (<a th:href="@{/billings/show(tenant=${billing.tenant.id})}">Anzeigen</a>
                /
                <a th:href="@{/billings/export(tenant=${billing.tenant.id})}">Download</a>)
            </h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td colspan="2" class="text-center">Gesamt</td>
                    <td colspan="2" class="text-center">Anteil</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="billingEntry: ${billing.entries}" th:with="unit = ${billingEntry.invoice.type == T(de.cramer.nebenkosten.entities.InvoiceType).General ? billingEntry.invoice.splitAlgorithm.unit : ''}">
                    <td th:text="${billingEntry.invoice.description}">Abwasser</td>
                    <th:block th:with="total = ${billingEntry.formatTotalValue(valueFormat)}">
                        <th:block th:if="${total}">
                            <td th:text="${total + ' ' + unit}">49 PM</td>
                            <td th:text="${billingEntry.invoice.price.format(#locale)}">135,34€</td>
                        </th:block>
                        <td th:unless="${total}" th:value="#{individual}" class="text-center" colspan="2">Individuell</td>
                    </th:block>
                    <td th:with="value = ${billingEntry.formatProportionalValue(valueFormat)}" th:text="${value == null ? '' : value + ' ' + unit}">11 PM</td>
                    <td th:text="${billingEntry.proportionalPrice.format(#locale)}">135,34€</td>
                </tr>
                <tr class="table-info">
                    <td th:text="#{sum}">Summe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${billing.total.format(#locale)}">135,34€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
