<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template.html :: head}">
    <title></title>
</head>
<body>
<div class="container">
    <nav th:replace="~{template.html :: navbar ('contracts')}"></nav>

	<div class="row alert alert-danger" role="alert" th:if="${error}">
		<object th:if="${error} == 'create'" th:remove="tag">Beim Anlegen des Mietvertrags ist ein Fehler aufgetreten.</object>
		<object th:unless="${error} == 'create'" th:remove="tag">Ein unbekannter Fehler ist aufgetreten</object>
	</div>

    <div class="row list-group list-group-striped mb-3" th:each="flatWithContracts : ${contractsByFlat}">
        <span class="list-group-item list-group-item-action list-group-item-primary" th:text="${flatWithContracts.flat}">Test-Wohnung</span>
        <a class="list-group-item list-group-item-action"
           th:each="contract: ${flatWithContracts.contracts}"
           th:text="${contract.tenant} + ' (' + ${contract.period.format(@messageSource, #locale)} + ')'"
           th:href="@{/contracts/show/{contractId}(contractId=${contract.id})}">
            Test-Mieter
        </a>
        <a class="list-group-item list-group-item-action list-group-item-success" th:href="@{/contracts/create(flat=${flatWithContracts.flat.name})}">
            <i class="material-icons align-text-bottom bg-transparent">add_circle</i>
            <span class="ml-1">Mietvertrag hinzufügen</span>
        </a>
    </div>
</div>
</body>
</html>
