<html lang="de" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template.html :: head}">
    <title></title>
</head>
<body>
<!--/*@thymesVar id="contract" type="de.cramer.nebenkosten.entities.Contract"*/-->
<div class="container">
    <nav th:replace="~{template.html :: navbar ('contracts')}"></nav>

    <form id="saveForm" method="post" th:action="${contract != null} ? @{/contracts/edit/{contractId}(contractId=${contract.id})} : @{/contracts/create}"></form>
    <form id="deleteForm" method="post" th:action="${contract != null} ? @{/contracts/delete/{contractId}(contractId=${contract.id})} : ''"></form>

    <div class="alert alert-danger" role="alert" th:if="${saveError}">
        Beim Speichern des Mietvertrags ist ein Fehler aufgetreten.
    </div>
    <div class="alert alert-danger" role="alert" th:if="${deletionError}">
        Beim Löschen des Mietvertrags ist ein Fehler aufgetreten.
    </div>

    <table class="table table-striped align-middle">
        <tbody>
        <tr>
            <td>Wohnung</td>
            <td>
                <select class="form-control" name="flat" id="flat" aria-label="Wohnung" form="saveForm" required>
                    <option th:each="flat: ${flats}" th:selected="${contract != null && flat == contract.flat || flat == selectedFlat}" th:value="${flat.id}" th:text="${flat.name}">Erdgeschoss</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Mieter</td>
            <td>
                <select class="form-control" name="tenant" id="tenant" aria-label="Mieter" form="saveForm" required>
                    <option th:each="tenant: ${tenants}" th:selected="${contract != null && tenant == contract.tenant}" th:value="${tenant.id}" th:text="${tenant.name}">Uta Krüger</option>
                    <option th:unless="${contract == null || tenants.contains(contract.tenant)}" selected th:value="${contract.tenant.id}" th:text="${contract.tenant.name}">Max Probst</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Anzahl Personen</td>
            <td>
                <input class="form-control" type="number" name="persons" id="persons" placeholder="Anzahl Personen" aria-label="Anzahl Personen" form="saveForm" required min="1" value="1" th:value="${contract != null ? contract.persons : null}">
            </td>
        </tr>
        <tr>
            <td>Start</td>
            <td>
                <input class="form-control" type="date" name="start" id="start" placeholder="Startdatum" aria-label="Startdatum" form="saveForm" required value="2020-12-14" onchange="checkDates()" th:value="${contract != null ? contract.period.start : T(java.time.LocalDate).now()}">
            </td>
        </tr>
        <tr>
            <td>Ende</td>
            <td class="d-flex">
                <input class="form-control col" type="date" name="end" id="end" placeholder="Enddatum" aria-label="Enddatum" form="saveForm" value="2020-12-14" onchange="checkDates()" th:value="${contract != null ? contract.period.end : null}">
                <button class="btn btn-outline-danger ms-2" type="button" onclick="clearEnd();checkDates()">Leeren</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex flex-row-reverse" style="gap: 0.5rem">
        <button class="btn btn-outline-success my-2 my-sm-0 col-md-2" form="saveForm" type="submit">Speichern</button>
        <button class="btn btn-outline-danger my-2 my-sm-0 col-md-2" form="deleteForm" type="submit" th:if="${contract != null}">Löschen</button>
        <a class="btn btn-outline-danger my-2 my-sm-0 col-md-2" th:href="@{/contracts}" th:if="${contract == null}">Abbrechen</a>
    </div>

    <script>
        function checkDates() {
            const start = document.getElementById("start");
            const end = document.getElementById("end");

            const startValue = start.value;
            const endValue = end.value;

            if (endValue && startValue > endValue) {
                end.setCustomValidity("Ende kann nicht vor Start liegen")
            } else {
                end.setCustomValidity('')
            }
        }

        function clearEnd() {
            const end = document.getElementById("end");
            end.value = null
        }
    </script>
</div>
</body>
</html>
