<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template.html :: head}">
    <title></title>
</head>
<body>
<div class="container">
    <nav th:replace="~{template.html :: navbar ('invoices')}"></nav>
    <div class="row list-group list-group-striped">
        <a class="list-group-item list-group-item-action"
           th:each="invoice: ${invoices}"
           th:text="${invoice.description} + ' (' + ${invoice.type == T(de.cramer.nebenkosten.entities.InvoiceType).Rental ? invoice.rental.flat + ' - ' + invoice.rental.tenant.toString() + ' - ' : ''} + ${invoice.period.format(@messageSource, #locale)} + ')'"
           th:href="@{/invoices/show/{invoiceId}(invoiceId=${invoice.id})}">
            Test-Mieter
        </a>
        <a class="list-group-item list-group-item-action list-group-item-success" th:href="@{/invoices/create}">
            <i class="material-icons align-text-bottom bg-transparent">add_circle</i>
            <span class="ml-1">Rechnung hinzufügen</span>
        </a>
    </div>
</div>
</body>
</html>
