<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: head">
    <title></title>
</head>
<body>
<div class="container">
    <nav th:replace="template.html :: navbar ('tenants')"></nav>
    <div class="row form-check mb-2">
        <form id="includeHidden-form">
            <input id="includeHidden" name="includeHidden" class="form-check-input" type="checkbox" onclick="document.getElementById('includeHidden-form').submit()" th:checked="${includeHidden}">
            <label class="form-check-label" for="includeHidden">Ausgeblendete anzeigen</label>
        </form>
    </div>
    <div class="row list-group list-group-striped">
        <a class="list-group-item list-group-item-action" th:each="tenant: ${tenants}" th:text="${tenant}" th:href="@{/tenants/show/{tenantId}(tenantId=${tenant.id})}">Test-Mieter</a>
        <a class="list-group-item list-group-item-action list-group-item-success" th:href="@{/tenants/create}">
            <i class="material-icons align-text-bottom bg-transparent">add_circle</i><span class="ml-1">Mieter hinzufügen</span>
        </a>
    </div>
</div>
</body>
</html>
